# Ignore files managed by VS Code
config.json
session-store.*
vscode.session.*
ide/
logs/
session-state/
**/evidence/


# APM dependencies
apm_modules/
build/

# Ignore codebase files
.codebase-memory/